.bespoke {
  display: flex;
  justify-content: center;
  background-color: #aaa;
}

.benefits {
  padding-top: 40px;
  padding-bottom: 19px;
}

.benefits-list {
  display: flex;
}

.benefits-icon-box {
  width: 67px;
  height: 67px;
  background: #28a745;
  border-radius: 50%;
}

.benefits-titel {
  font-family: Open Sans;
  font-style: Regular;
  font-size: 20px;
  line-height: 32.95px;
  line-height: 121%;
  align-items: center;
  vertical-align: Top;
  fill: Solid #333333;
}
.benefits-text {
  font-family: Open Sans;
  font-style: Regular;
  font-size: 18px;
  line-height: 28.16px;
  line-height: 115%;
  align-items: center;
  vertical-align: Top;
  fill: Solid #333333;
}
