.team {
  display: flex;
  justify-content: center;
  background-color: rgb(72, 25, 25);
  color: #fff;
}

.team-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  color: #333333;
}
.team-headline {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: #333333
}
.team-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height:1.55;
  color: #333333
}
.tem-list {

}
.team-iteam {

}
.callback-container {

}
.callback-btn {

}