<section class="callback">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div>
          <img src="./images/callback-foto.jpg" alt="" />
        </div>
        <div class="callback-form">
          <p class="callback-title">Request Callback</p>
          <form action="">
            <label>
              <input type="name" name="name" placeholder="Enter your name" />
            </label>
            <label>
              <input type="email" name="email" placeholder="Enter email*" />
            </label>
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
          <img src="./images/img1.jpg" alt="" />
        </div>
        <div class="callback-form">
          <p class="callback-title">Hello world!!!!</p>
          <form action="">
            <label>
              <input type="name" name="name" placeholder="Enter your name" />
            </label>
            <label>
              <input type="email" name="email" placeholder="Enter email*" />
            </label>
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
          <img src="./images/img4.jpg" alt="" />
        </div>
        <div class="callback-form">
          <p class="callback-title">This is work!!!!</p>
          <form action="">
            <label>
              <input type="name" name="name" placeholder="Enter your name" />
            </label>
            <label>
              <input type="email" name="email" placeholder="Enter email*" />
            </label>
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</section>
