<section class="cases">
  <p>------------CASES------------</p>
  <h2 class="cases-title">Business Cases</h2>
  <p class="caces-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
  <ul class="img-list">
    <li class="photo-list-cases">
      <img src="../images/img1.jpg" alt="img1" class="img-cases">
    </li>
    <li class="photo-list-cases">
      <img src="../images/img2.jpg" alt="img2" class="img-cases">
    </li>
    <li class="photo-list-cases">
      <img src="../images/img3.jpg" alt="img3" class="img-cases">
    </li>
    <li class="photo-list-cases">
      <img src="../images/img4.jpg" alt="img4" class="img-cases">
    </li>
    <li class="photo-list-cases">
      <img src="../images/img5.jpg" alt="img5" class="img-cases">
    </li>
    <li class="photo-list-cases">
      <img src="../images/img6.jpg" alt="img6" class="img-cases">
    </li>
    <li class="photo-list-cases">
      <img src="../images/img7.jpg" alt="img7" class="img-cases">
    </li>
    <li class="photo-list-cases">
      <img src="../images/img8.jpg" alt="img8" class="img-cases">
    </li>
  </ul>
</section>
