<footer class="footer">
  <div>
    <a class="social-link" href="#">
    <svg class="social-icon" width="20" height="20">
      <use href="./images/1.svg"></use>
    </svg>
    </a>
    <a class="social-link" href="#">
    <svg class="social-icon" width="20" height="20">
      <use href="./images/1.svg"></use>
    </svg>
    </a>
    <a class="social-link" href="#">
      <svg class="social-icon" width="20" height="20">
        <use href="./images/1.svg"></use>
      </svg>
    </a>
    <a class="social-link" href="#">
      <svg class="social-icon" width="20" height="20">
        <use href="./images/1.svg"></use>
      </svg>
    </a>
    <p>------------Copyright © 2021 - FinanceLedger------------</p>
  </div>
</footer>
