<section class="hero">
  <p>------------HERO------------</p>

  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <h1>The Sky Is The Limit</h1>
        <p>We provide world class financial assistance</p>
      </div>
      <div class="swiper-slide">
        <h1>Wooow!</h1>
        <p>Nice!!!!</p>
      </div>
      <div class="swiper-slide">
        <h1>Worked!!</h1>
        <p>Coool!</p>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>

  <a href="#" class="js-open-modal" data-modal="1">Открыть окно 1</a>
</section>
