<section class="solutions visually-hidden">
  <div>
<img src="./images/Rectangle (1).jpg" alt="">
  </div>
  <div class="solution-section">
    <h2 >solutions</h2>
    <p class="solution-text">What you are looking for</p>
    <h3 class="solution-title">We provide bespoke solutions</h3>
    <p class="solution-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?</p>

<button type="button">Read More</button>
  </div>

  <a href="#" class="js-open-modal" data-modal="2">Открыть окно 2</a>
</section>
