<section class="team">
  <p>------------TEAM------------</p>
  <div class="team-container">
    <h1 class="team-title">Who we are</h1>
    <h2 class="team-headline">Our hrofessional team</h2>
    <p class="team-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, fugit?
    </p>
    <ul class="team-list list">
      <li class="team-iteam">
        <img src="#" alt="." />
        <h3>John Doe</h3>
        <p>President</p>
      </li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
<section class="callback">
  <div class="callback-container">
    <img src="#" alt="" . />
    <p class="callbaack-title">Request Callback</p>
    <form action="">
      <input type="text" />
      <label for=""></label>
      <button class="callback-btn" type="button">Send</button>
    </form>
  </div>
</section>
